<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Dashboard</title>
  <link rel="stylesheet" href="/styles.css">
  <style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
      background-color: #3949ab; /* Dark blue background */
      color: #fff; /* White text color */
      font-family: Arial, sans-serif;
    }

    main {
      background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
      border-radius: 8px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Dark shadow */
      padding: 20px;
      width: 80%;
    }

    h1 {
      text-align: center;
      color: #fff; /* White header color */
      margin-bottom: 20px; /* Added margin bottom for separation */
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
      background-color: #fff; /* White background for table */
      color: #333; /* Dark text color for table */
    }

    th, td {
      border: 1px solid #ccc; /* Light gray border */
      padding: 10px;
      text-align: left;
    }

    th {
      background-color: #3949ab; /* Dark blue background for table header */
      color: #fff; /* White text color for table header */
    }

    a {
      color: #f44336; /* Red link color */
      text-decoration: none;
      display: inline-block;
      margin-top: 10px; /* Adjust the margin as needed */
    }

    a:hover {
      text-decoration: underline;
    }

    .logout-link,
    .success-link,
    .user-data {
      text-align: center;
      margin-top: 20px;
    }

    .logout-link a,
    .success-link a,
    .user-data a {
      color: #f44336; /* Red link color */
      text-decoration: none;
    }

    .logout-link a:hover,
    .success-link a:hover,
    .user-data a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <main>
    <h1>Welcome to the Dashboard</h1>
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Date of Birth</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(user => { %>
          <tr>
            <td><%= user.username %></td>
            <td><%= user.firstName %></td>
            <td><%= user.lastName %></td>
            <td><%= user.dateOfBirth ? user.dateOfBirth.toLocaleDateString() : 'N/A' %></td>
            <td><%= user.email %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    <div class="logout-link">
      <a href="/logout">Logout</a>
    </div>
    <div class="success-link">
      <a href="/success">Go to Success Page</a>
    </div>
    <div class="user-data">
      <a href="/user-data">Go to User Data Admin Panel</a>
    </div>
  </main>
</body>
</html>
